// @import url('../../node_modules/normalize.css/normalize.css');

.seo {
  display: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}

button {
  border-radius: 0;
}

*,
button,
input,
optgroup,
select,
textarea {
  box-sizing: border-box;
}

@import "./grid.scss";
