@import "../styles/mixins.scss";

.wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.menuOverlay {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    pointer-events: none;
}

.menuIcon {
    position: fixed;
    z-index: 11;
    top: 1rem;
    left: 1rem;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    span {
      display: none;
    }
    @include media-medium1() {
      top: 1.5rem;
    }
    @include media-large1() {
      display: none;
    }
    &:hover {
      background-color: transparent;
    }
    svg {
      display: block;
      width: 1rem;
      height: 1rem;
      @include media-small2() {
        width: 1.5rem;
        height: 1.5rem;
      }
      @include media-medium1() {
        width: 2rem;
        height: 2rem;
      }
    }
  }
